{% extends "bootstrap/base.html"  %}
{% block title %}Flask{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" style="background: #3C3C3C">
    <div class="container">
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/drug">Drug</a></li>
                <li><a href="/targets">targets</a></li>
                <li>
                    <a href="/sideeffects">sideeffect</a>
                </li>
                <li><a href="/pathway">pathway</a></li>
                <li><a href="/Disease">Disease</a></li>
                <!-- <li><a href="/pai">chart</a></li> -->
                <li>
                    <div class="searchbar" style="margin-top: 10px;">
                        <form action="/search" method="POST">
                            <input type="text" name="username">
                            <input type="submit" value="search">
                        </form>
                    </div>
                </li>
                <li style="margin-left: 300px;">
                    <a href="/Help">Help</a>
                </li>

            </ul>
        </div>
        
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}