{% extends "base.html" %}

{% block title %}pain{% endblock %}

{% block page_content %}
    <table class="table table-bordered">
    <tr>
        <th>KEGG_ENTRY</th>
        <th>name</th>
        <th>description</th>
        <th>category</th>
        
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                
            </tr>
    {% endfor %}
    </table>

{% endblock %}